.title{
    color: red;
}

.subtitle{
    color: blue;
}
#Contact-us{
    color: green;
}

li:first-child{
    color: gold;
}
li:last-child{
    color: pink;
}
li:nth-child(3){ 
    color: blue;
}
thead tr td:last-child{

    color: red;
}

/* advanced selector */
/* !-- change the anchor links color red that comes after every h2 --> (h2 + a) */
h2 + a{
    color: red;
}

/* every butto after text area but under same parent element */
textarea ~ button{
    color: green;
}

/* every single li inside of ul */
ul>li{
    color: blueviolet;
}

/* ul li{
    /* color: red; */
/* }  */