/* 
Primary Font: Lato
Secondary Font: Roboto Condensed
Dark Blue - rgb(70, 137, 244)
Light Blue - rgb(186, 212, 255)
'Bold' Orange - rgb(229, 158, 66)
Light Orange - rgb(255, 227, 191)
*/
*{
    margin: 0;
    padding: 0;
}
img{
    width: 400px;
    height: 200px;
}
#main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
    font-family: 'Lato', Roboto Condensed;
    background-color: rgb(186,212,255);
    
}
.content{
    margin: 5px;
    /* background-color: rgb(186,212,255); */
}

.sidebar{
    margin-top: 5px;
    background-color: rgb(255, 227, 191);
}

.sidebar .post{
    padding: 5px;
    border: 1px solid rgb(229, 158, 66);
    margin: 5px;
}